.main-container {
  width: 450px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

ul, li {
  margin: 0;
  background: darkorange;
}

ul {
  padding: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background: burlywood;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: black;
}

li:first-of-type {
  margin-left: 10px;
}

.cell + .cell {
  margin-left: 10px;
}